body {padding-top: 10px;padding-bottom: 40px;}
.span12
footer h4 {margin-bottom: 8px;}



.header {
    position: relative;
    height: 100%;
}
.header .links {
    position: relative;
    right: 0;
    bottom: 0;
}

/* product_list - the side bar*/
.product_list {
	margin-top: -5px;
	margin-left: 5px;
}
.product_list ul {
	list-style: none;
	margin: 0;
}
.product_list > ul > li {
	padding: 8px 8px 8px 0px;
}
.product_list > ul > li + li {
	border-top: 1px solid #EEEEEE;
}
.product_list > ul > li > a {
	text-decoration: none;
}
.product_list > ul > li > a:hover{
	text-decoration: none;
	background: none;
}
.product_list > ul > li ul {
	display: none;
}
.product_list > ul > li a.active {
	font-weight: bold;
}
.product_list > ul > li a.active + ul {
	display: block;
}
.product_list > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.product_list > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.product_list > ul > li ul > li > a.active {
	font-weight: bold;
}
.container .main-container{
	width: auto;
}
@media (min-width: 768px) {
	.custom-collapse .collapse
	{
	    display:block;
	}  
}
.related_products .span2 {
width:160px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.tales {
  width: 100%;
}
.carousel-container{
  padding: 10px 10px 10px 10px;
}

.carousel-inner{
  width:100%;
  max-height: 360px !important;
}

.product_comparison .thumbnail{
border: none;
text-align:center;

}

.product_comparison small{
font-weight: normal;
}

.product_comparison .product_stars {
text-align:center;
margin: 0 auto;
width: 85px;
}
.product_comparison .price_summary td{
text-align:center;
}
.navbar .btn.search_btn {
margin-top:1px;
}

.popular_products .span2{
width:160px;
}

.row-centered {
    text-align:center;
}

.customer_service {
text-align:right;
font-size:13px;
}

.table td.vertical-center_text{
vertical-align: middle; 
}

.table td.horizontal-center_text{
text-align:center;
}

.table-centered{
text-align:center;
}

.glyphicon.glyphicon-remove {
    font-size: 25px;
}